html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: monospace;
  font-size: 20px;
  color: #212529;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

small {
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2em 0;
}

tr {
  border: 1px solid #dee2e6;
  border-width: 1px 0;
}

tr:nth-child(odd) {
  background-color: #f8f9fa;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
  vertical-align: top;
}

button {
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background-color: #fff;
  color: #212529;
  font-size: 1em;
  line-height: 1.5;
  cursor: pointer;
}

.file-input {
  position: relative;
  overflow: hidden;
}

.file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.file-input label {
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}

.file-input svg {
  width: 6em;
  height: 6em;
  margin-bottom: 1em;
  fill: #212529;
}

.file-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.6;
}

.file-wrapper.drag-over {
  background: #007bff;
  color: #fff;
  opacity: 1;
}

.error {
  color: #dc3545;
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}
